*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.card__ingredients {
    text-transform: uppercase;
    padding: 30px 30px 0;
}

.card__title {
    padding: 0 30px;
}

.card__buttons {
    padding: 0 30px;
    border-bottom: 1px solid #4a90e2;
}

.card__button--select, .card__button--unselect {
    margin: 15px 0;
}

.card__article__container {
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 75px 1fr 100px;
    grid-template-rows: 40px 20px 20px;
    grid-template-areas:    ".        amount title  ."
                            "checkbox amount brand  price"
                            ".        amount weight .";
    border-bottom: 1px solid lightgrey;
}

.card__article__checkbox {
    grid-area: checkbox;
}

.card__article__title {
    grid-area: title;
    font-size: 16px;
}

.card__article__brand {
    grid-area: brand;
    font-size: 8px;
    color: lightgrey;
}

.card__article__weight {
    grid-area: weight;
    font-size: 8px;
}

.card__article__amount {
    grid-area: amount;
    height: 60px;
    width: 60px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a90e2;
    font-size: 24px;
    font-weight: 700;
}

.card__article__price {
    grid-area: price;
    font-size: 18px;
    color: #4d8f00;
    text-align: right;
}



.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.card__items--title {
    padding: 30px 30px 20px;
    font-size: 12px;
    color: lightgrey;
}

.card__subtotal {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.card__subtotal--title {
    font-size: 14px;
    color: lightgrey;
}

.card__subtotal--total {
    font-size: 14px;
}

.card__shipping-cost {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.card__shipping-cost--title {
    font-size: 14px;
    color: lightgrey;
}

.card__shipping-cost--total {
    font-size: 14px;
}

.card__total {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.card__total--title {
    font-size: 14px;
}

.card__total--total {
    font-size: 24px;
    color: #4d8f00;
}

.card__button--buy {
    height: 50px;
    background-color: #4d8f00;
    color: #eee;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 30px 30px;
}

@media all and (min-width: 768px) {
    .card__article__container {
        grid-template-rows: 20px 20px 20px ;
    }
}